<!doctype html>
<html>
<head>
  <% include partials/head %>
  <style>
        body        { word-wrap:break-word; }
  </style>
  <script>
    //don't penalize if user came to this page
    sessionStorage.removeItem("not_answered");
  </script>

</head>
<body>
<header>
  <% include partials/header %>
</header>

<div class="container col-sm-12">

    <div class="page-header text-center">
        <h1><span class="fa fa-diamond"></span> Scoreboard</h1>
    </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>City Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Country Code</th>
      <th>Country Name</th>
      <th>City Type</th>
      <th>Distance</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>

    <% for(var i =0; i < results.length; i++){ %>
    <%
      /* venues
      var venue_id = results[i].venue_id;
      var category  = results[i].venue_category_name;
      var country_code = results[i].country_code;
      var distance = results[i].distance;
      var lat = results[i].lat;
      var longi = results[i].longi;
      */
      var city_name = results[i].city_name        
      var lat = results[i].lat;
      var longi = results[i].longi;
      var country_code = results[i].country_code;
      var country_name = results[i].country_name;
      var city_type = results[i].city_type;
      var distance = results[i].distance;
      var val = 1.22;

    %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%= city_name %></td> 
        <td><%= lat %></td> 
        <td><%= longi %></td> 
        <td><%= country_code %></td> 
        <td><%= country_name %></td> 
        <td><%= city_type %></td> 
        <td><%= distance %></td> 
        <td><%= val %></td> 
      </tr>
    <% } %>
  
  </tbody>
</table>


</div>

<footer>
    <% include partials/footer %>
  </footer>

</body>
</html>
