<!doctype html>
<html>
<head>
  <% include partials/head %>
  <style>
        body        { word-wrap:break-word; }
  </style>
  <script>
    //don't penalize if user came to this page
    sessionStorage.removeItem("not_answered");
  </script>

</head>
<body>
<header>
  <% include partials/header %>
</header>

<div class="container col-sm-12">

    <div class="page-header text-center">
        <h1><span class="fa fa-diamond"></span> Scoreboard</h1>
    </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Place</th>
      <th>Level</th>
      <th>Username</th>
      <th>Last Online</th>
      <th>Portfolio Value</th>
    </tr>
  </thead>
  <tbody>

    <% for(var i =0; i < results.length; i++){ %>
    <%
      var dateTime = dateTime;
      var last_online = results[i].last_online;
      var dateDifference = dateTime - last_online;
      var userID = results[i]._id;
      var level = results[i].level;
      var portfolio_value = results[i].portfolio_value;
      var decimals = 3;
      if(portfolio_value < 1000) decimals = 0;
      portfolio_value = (portfolio_value).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
      portfolio_value = (portfolio_value).substring(0, portfolio_value.length - decimals);
      portfolio_value = "$"+portfolio_value;

      var username = "";
      var photo = "/images/signedout.png";
      var isme = false;
      var companyname = results[i].company_name;
      if(results[i].facebook.name != null){
        username = results[i].facebook.name;
        photo = results[i].facebook.photo;
        if(locals.user && locals.user.facebook.name == username 
           && locals.user.portfolio_value == results[i].portfolio_value)
          isme = true;
      }else if(results[i].twitter.username != null){
        username = results[i].twitter.username;
        photo = results[i].twitter.photo;
        if(locals.user && locals.user.twitter.username == username 
           && locals.user.portfolio_value == results[i].portfolio_value)
          isme = true;
      }else if(results[i].google.name != null){
        username = results[i].google.name;
        photo = results[i].google.photo;
        if(locals.user && locals.user.google.name == username 
           && locals.user.portfolio_value == results[i].portfolio_value)
          isme = true;
      }else if(results[i].local.email != null){
        username = results[i].local.email;
        photo = "/images/signedout.png";
        if(locals.user && locals.user.local.email == username 
           && locals.user.portfolio_value == results[i].portfolio_value)
          isme = true;
      }

      
      var ismeclass = "";
      if(isme)
        var ismeclass = "table-success";
     

      function millisecondsToTime(milli)
      {
        var milliseconds = milli % 1000;
        var seconds = Math.floor((milli / 1000) % 60);
        var minutes = Math.floor((milli / (60 * 1000)) % 60);
        var hours = Math.floor((milli / (60 * 60 * 1000)) % 60);
        return hours + ":" + minutes + ":" + seconds;
        //return minutes + ":" + seconds + "." + milliseconds;
      }   
    %>
      <tr class="<%= ismeclass %>">
        <th scope="row"><%=i+1%></th>
        <th scope="row"><%=level%></th>
        <td><a href="/console/<%= userID %>"><%= companyname %></a></td> 
        <!--<td><img src="<%= photo %>" height="30px" width="30px"></img></td> -->
        <td><%= millisecondsToTime(dateDifference) %></td> 
        <td><a href="/portfolio/<%=userID %>"><%= portfolio_value %></a></td> 
      </tr>
    <% } %>
  
  </tbody>
</table>


</div>

<footer>
    <% include partials/footer %>
  </footer>

</body>
</html>
